---
const pageTitle = "Inventory Management System";
import Greeting from '../components/Greeting.tsx';
import InventoryList from "../components/InventoryList.tsx";
---

<html>
  <head>
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>{pageTitle}</h1>
    <Greeting client:load />

    <InventoryList client:load />
  </body>
</html>